.LanguagesTab {
    padding: 1em;
    width: 25%;
    max-height: fit-content;
}

.LanguageSection {
    font-weight: bold;
    font-size: large;
    margin-left: 32px;
    color: white;
    padding-top: 0.7em;
    padding-bottom: 0.2em;
}