.Language-item {
    display: inline-block;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.Language-container {
    display: flex;
    align-items: center;
    height: 2.5em;
    position: relative;
    overflow: hiddLanguagesen;
    border-radius: 64px;
    padding: 16px;
}

.Language-flag-container {
    width: 3em;
    height: 3em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 0.2em solid black;
}

.Language-flag {
    height: 3em;
    width: 3em;
}

.Language-name {
    font-weight: bold;
    font-size: medium;
    margin-left: 16px;
    flex: 1;
}

.Language-chevron {
    padding-left: auto;
    padding-right: 16px;
}