.LanguagesTab {
    width: 25em;
    max-height: fit-content;
    justify-content: center;
}

.LanguageSection {
    font-weight: bold;
    font-size: large;
    color: white;
    justify-content: center;
    padding-top: 0.7em;
    padding-bottom: 0.2em;
    text-align: center;
}