.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c0c34ff;
    color: #fff;
    padding: 0px 20px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
}

.App-logo {
    height: 80px;
    width: 80px;
}