.source-card {
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: white;

    min-width: 64px;
    max-width: calc(33.33% - 20px);
    text-align: center;
    padding: 6px;
    flex-grow: 1;
}

.thumbnail-container {
    width: 3em;
    height: 3em;
    overflow: hidden;
    border-radius: 50%;
}

.thumbnail {
    width: 100%;
    height: 3em;
    width: 3em;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.description {
    align-items: center;
    text-align: center;
    height: 3.5rem;
    margin-left: 8px;
    margin-right: 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}